<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
    <script src="/javascript/addTeam.js"></script>
    <script src="/javascript/removeUser.js"></script>
    <script src="/javascript/addAdmin.js"></script>
    <script src="/javascript/updateTableRowTeam.js"></script>
    <link  href="/stylesheets/db.css" rel="stylesheet" type="text/css"/>
  </head>

  <body>

    <% include ../partials/nav.ejs %>

    <div class="container">
      <h2>
        Team
        <%=teamName[0].teamname+" "+teamName[0].year %>
      </h2>
      <button id="btnAdd">Tilføj medlem</button>
      <table id="memberTbl" value=<%=teamName[0].team_id%>>
        <thead>
          <th>Navn</th>
          <th>Email</th>
          <th>Progress</th>
      </thead>
      <tbody>
        <% for (i=0; i < results.length; i+=1) { %>
          <tr id=<%=results[i].id%>>
            <td><%=results[i].name%></td>
            <td><%=results[i].email%></td>
            <td><progress value=<%=progress[i]%> max=<%=tasks%> </progress> </td>
            <td><img  class='btnDelete' src='/trashcan_delete.ico'/>
              <img  class='btnEdit' src='/edit.gif'/></td>
          </tr>
        <% };%>
      </tbody>
    </table>
  </div>
</body>
</html>
